body{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  }
  
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid black;
    z-index: 5;
}
.header img {
  position: absolute;
  top: 5px;
  margin: 5px;
  width: 200px;
  height: 45px;
}

#logout {
  float: right;
  margin: 10px 0px;
}
 #logout .glyphicon {
  margin: 10px;

}
.glyphicon {
    font-size: 25px;
    margin: 0px 15px;
    color: black;
}
.icon {
  float: right;
  margin: 7px 15px 0px;
  /*1b75bb*/
}