body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}  
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid black;
    z-index: 5;
}
.header img {
  position: absolute;
  top: 5px;
  margin: 5px;
  width: 200px;
  height: 45px;
}

#logout {
  float: right;
  margin: 10px 0px;
}
 #logout .glyphicon {
  margin: 10px;

}
.glyphicon {
    font-size: 25px;
    margin: 0px 15px;
    color: black;
}
.icon {
  float: right;
  margin: 7px 15px 0px;
  /*1b75bb*/
}

/*.app-preview {margin-left: 20px;}*/
/*.container {
  border: 1px solid red;
}
.row {border: 1px solid blue;}*/
h1 {
  margin-top: 100px; 
  margin-left: 130px; 
  /*font-weight: lighter;*/
  /*letter-spacing: 2px;  */
}
.col-md-6 > img {
  /*border: 1px solid black;*/
  max-width: 460px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.rating > p > span.glyphicon {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: lighter;
}
a.result-link {
  /*color: #337ab7;*/
  color: black;
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.info > p {
  font-size: 12px;
  color: #647788;
  margin: 3px;
}




.nav-pills > li > button {
  border-radius: 0px; margin: 5px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.nav-pills > li > button:hover {
  border-radius: 0px;
  color: #fff;
  background: black;
}
.col-md-6, .col-md-2 {padding-top: 20px;}



.act-feed {
  overflow-y: scroll;
  height: 400px;
  padding-top: 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
h3 {text-align: center;}
.feed {
  border-top: 1px solid grey;
  border-radius: 1px;
  padding: 10px;
  margin: 5px;
}












