body{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  }
  
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid black;
    z-index: 5;
}
.header img {
  position: absolute;
  top: 5px;
  margin: 5px;
  width: 200px;
  height: 45px;
}

#logout {
  float: right;
  margin: 10px 0px;
}
 #logout .glyphicon {
  margin: 10px;

}
.glyphicon {
    font-size: 25px;
    margin: 0px 15px;
    color: black;
}
.icon {
  float: right;
  margin: 7px 15px 0px;
  /*1b75bb*/
}



#word-filter {
  margin-top: 20px;
  margin-right: 20px;
}
 #word-filter .input-group {
  float: right;
  width: 350px;
  margin-top: 70px;
}
#word-filter .form-control { 
  width: 200px;
}


.row {
  margin-bottom: 70px;
}
.row .col-sm-1 { /* sidebar */
  position: fixed;
  margin: 20px;
  height: 100%;
  float: left;
  left: -20px;
  padding: 20px;
  width: 180px;
  background-color: black;  
  opacity: 20%;
  /*border-right: 1px solid black; */
}

#mygroups {margin: 10px 0px;}
.nav-stacked { 
  width: 100px;
}

#filter .input-group {width: 140px; margin: 5px 0px; }
#filter li a {letter-spacing: 1px;}
.input-group .form-control, .input-group-btn button {border-radius: 0px;}
h4 {color: #fff; font-weight: lighter; letter-spacing: 2px;}
.nav-pills > li.active > a,
.nav-pills > li > a:hover 
{border-radius: 0px;}





.row .col-sm-9 {float: right;} /* results */
h1 {font-weight: 300; letter-spacing: 1px; }
#wrapper {
  position: relative;
  width: 220px;
  height: 240px;
  margin: 20px;
  float: left;
}
.app {
	/*border: 1px solid #337ab7;*/
  border: 1px solid grey;
	border-radius: 1px;
	width: 220px;
	height: 240px;
	padding: 10px;
  position: relative;
  text-align: center;
  margin: 20px 0px;
  overflow: hidden;
  box-shadow: 2px 2px 2px grey;

}

#hover {
  position: absolute;
  bottom: -35px;
  width: 220px;
  left: -1px;
  height: 35px;
  background: black;
  transition: 1s;
}
#hover a {
  color: #fff;
  margin: 5px;
  position: relative;
  top: 10px;
}

.app:hover #hover {
  transition: 1s;
  bottom: 0;
}

.app-hover {
  border-radius: 3px;
  width: 220px;
  height: 240px;
  padding: 10px;
  position: absolute;
  left: -41px;
  top: -41px;
  text-align: center;
  margin: 40px;
  z-index: 5;
  border: none;
  display: none;
}
.app-hover > a {
  background: none;
  color: white;
  font-weight: lighter;
}

.app img {
	max-width: 180px;
	max-height: 180px;
  margin: 10px;
}

a.result-link {
	/*color: #337ab7;*/
  color: black;
  text-decoration: none;
  /*text-shadow: 0px 1px 1px rgba(98,122,158,0.2);*/
  font-size: 14px;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

p.result-creator {
	text-decoration: none;
  font-size: 10px;
  color: #647788;

}
/*.app-hover .btn .btn-default {
  margin: 10px;
  letter-spacing: 2px;
}*/



.footer p, .footer p span {
  font-size: 10px;
  text-align: center;
  /*color: #337ab7;*/
  letter-spacing: 0.5px;
  margin: 3px;
}
#love {margin-bottom: 10px;}